@import url("https://fonts.googleapis.com/css2?family=Explora&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Darker Grotesque", sans-serif; }

.header {
  display: flex;
  justify-content: center;
  background-image: linear-gradient(to top, #4f4f4f, #f8cde1);
  height: 15vh; }
  .header .titulo {
    color: #ffdbdb;
    font-family: "Explora", cursive;
    font-weight: lighter;
    font-size: 65px; }

.maine {
  background-color: #4f4f4f;
  height: 75vh; }
  .maine .contenedor {
    margin-left: 3%;
    margin-right: 3%; }
    .maine .contenedor .titulo1 {
      font-size: 32px;
      font-weight: lighter;
      text-align: center;
      color: #68edff; }
    .maine .contenedor .parrafo {
      display: flex;
      text-align: center;
      font-size: 20px;
      padding-left: 13%;
      padding-right: 13%;
      color: #e7e3e4; }
    .maine .contenedor .titulo2 {
      text-align: left;
      font-size: 30px;
      font-weight: lighter;
      color: #68edff; }
    .maine .contenedor .listaNormal {
      padding-left: 4%;
      padding-right: 4%;
      list-style: decimal; }
    .maine .contenedor .lista1 {
      color: #e7e3e4;
      font-size: 18px; }

.footer {
  background-image: linear-gradient(to top, #f8cde1, #4f4f4f);
  height: 10vh; }
  .footer .cuestion__finales {
    display: flex;
    flex-direction: row;
    justify-content: center; }
    .footer .cuestion__finales .cuestion__final {
      display: inline-block;
      font-size: 20px;
      font-style: italic;
      color: #68edff;
      padding: 10px 20px; }
  .footer .final {
    display: block;
    text-align: center;
    font-size: 20px;
    font-style: italic;
    color: #68edff; }
